header { background-color : goldenrod; text-align:center;}

nav { background-color: indigo; color:white;}

main { background-color: orange; padding-left:50px; color:white;}

section {background-color: green; padding-left:50px; margin-top: 10px;}

article {background-color: maroon; padding:10px 0px 20px 0px; display:inline-block; margin-top: 10px;vertical-align:top;}

aside {background-color:indigo; border : dotted 4px; display:inline-block; padding: 10px 0px 5px 0px;}

div {margin-left:30px;}

audio { margin-top:20px;}
video { width:100%;}

form {background-color: beige; color:black; text-align:center; margin-top:20px;}

footer {background-color: chocolate;}

